<div class="container">
  <%= cl_image_tag @pet.photo.key, width: 400, height: 400, crop: :fill%>
      <%= simple_form_for [@pet ] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :temperament %>
        <%= f.input :breed %>
        <%= f.input :address %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'Submit!' %>
    <% end %>
</div>
