
<div class="w3-container">
  <div class="card-product mt-0">
    <%= cl_image_tag @pet.photo.key, width: 400, height: 400, crop: :fill%>
    <div class="card-product-infos-selected">
    <h1><%= @pet.name %></h1>
      <ul>
        <li><strong>Description:</strong> <%=@pet.description %></li>
        <li><strong>Breed: </strong><%= @pet.breed%></li>
        <li><strong>Temperament:</strong> <%=@pet.temperament %></li>
        <li><strong>Address:</strong> <%=@pet.address %></li>
      </ul>
      <%= link_to "Edit", edit_pet_path(@pet) %>
      <%= link_to "Delete", pet_path(@pet), method: :delete, data: { confirm: "Are your sure you want to delete #{@pet.name}?"} %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= [{ lat: @pet.latitude, lng: @pet.longitude }].to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div id="playdate-picker" class="form-interest" data-unavailable="<%= @pet.confirmed_playdates.to_json %>">
    <h3>Interested in this pet?</h3>
    <% if user_signed_in? %>
      <%= simple_form_for [@pet, @interest] do |f| %>
        <%= simple_fields_for :user_pet do |user|%>
          <%= user.input :pet_id, collection: current_user.pets, label: 'My pet' %>
        <% end %>
        <%= f.input :message %>
        <%= f.input :when, as: :string, type: :text %>
        <%= f.input :venue %>
        <%= f.submit 'Make it a date!' %>
      <% end %>
    <% else %>
      <%= link_to 'Please sign in first to playdate with me!', new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <button class="btn btn-primary mt-3" type="submit" >
    <%= link_to "Back to Home", root_path %>
  </button>
</div>
