<div><div>
<%= cl_image_tag @pet.photo.key  %>
</div>

<div Class="Select_pet" >
  <h1><%= @pet.name %></h1>
    <ul>
      <li>Breed:<%= @pet.breed%></li>
      <li>Temperament: <%=@pet.temperament %></li>
    </ul>
</div>

<h4>Interested in this pet?</h4>
  <div>
  <%= simple_form_for [@pet, @interest] do |f| %>
    <%= f.input :message %>
    <%= f.datetime_field :when %>
    <%= f.input :venue %>
    <%= f.submit 'Make it a date!' %>
  <% end %>
  </div>
</div>
