<!-- !PAGE CONTENT! -->
<div class="w3-container">

  <!-- First Photo Grid-->
  <div class="search mt-2 mb-3">
    <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :breed, input_html: {value: ""} %>
      <%= f.submit "Search", class: "btn btn-ghost ml-2" %>
    <% end %>
  </div>

  <div class="cards" id="pets">
    <% @pets.each do |pet| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(pet.photo.key) %>)">
        <%= link_to pet.name, pet_path(pet) %>
      </div>
    <% end %>
  </div>

  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>About</h3>
      <p>Playpen is a site for pets to meet other like-minded pets.</p>
      <% if user_signed_in? %>
      <p><em>Logged in as <%= current_user.email %></em></p>
      <% end %>
    </div>

    <div class="w3-third">
      <h3>Blog posts</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Opposites attract</span><br>
          <span>How to get a dog and cat to be friends</span>
        </li>
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Best twigs for the park</span><br>
          <span>Love your dog the way they love you</span>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>Popular tags</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Doggo</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chopper</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Jamie</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Breed</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Doggo friends</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Doggo food</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Seer</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Bork</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>
